doctype
html
    head
        base(href="/")
        title MEAN test
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
        link(rel="stylesheet", href="/css/app.css")
    body(ng-app='app')
        block main-content
        include scripts
