.container
    .jumbotron
        h1 MEAN STACK test
        p Welcome to the MEAN STACK test page by Kasper Bruus Frank. This is just a test site so it is really not that interesting.
        h2 Admin login
        p username: admin
        p password: admin
        p
            strong You can also create a new standard user yourself by clicking Sign Up. Have fun! 
        p Project repo: 
            a(href="https://github.com/kasperbfrank/meanstacktest") https://github.com/kasperbfrank/meanstacktest
        
    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")
