.container
    .jumbotron
        h1 MEAN STACK test
        p Welcome to the MEAN STACK test page by Kasper Bruus Frank. This is just a test so this actually might be the worst page to visit in the universe.
        
    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")
