.panel.panel-primary
    .panel-heading.text-center New Courses
    .panel-body
        .row(ng-repeat="course in vm.courses | filter:{new:true}")
            .col-md-12 
                a(href="/courses/{{course._id}}") {{course.title}}
